<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/items.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <div class="container">
        <h2>My Requests</h2>
        <ul>
            <% for(var i=0; i<order.length; i++) { %>
                <li><%= order[i].title %></li>
            <% } %>
            <%if(order.length==0){%>
                <p style="text-align: center;">No orders placed yet</p>
                <%}%>
        </ul>
      </div>
    
      <div class="button-container">
        <a href="/userauth/home" class="button">Home</a>
      </div>
        
</body>
</html>